body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 650px; }

a img {
  border: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td, th {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #f3f3f3; } }

table.body {
  background: #f3f3f3;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 650px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 16px;
  padding-bottom: 16px; }
  th.columns .columns.first {
    padding-left: 0 !important; }
  th.columns .columns.last {
    padding-right: 0 !important; }
  th.columns .columns center {
    min-width: none !important; }

th.columns.last {
  padding-right: 16px; }

th.columns table {
  width: 100%; }

th.large-6 {
  width: 309px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-6.first {
  padding-left: 16px; }

th.large-6.last {
  padding-right: 16px; }

.body .columns th.large-6 {
  width: 50%; }

th.large-12 {
  width: 634px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-12.first {
  padding-left: 16px; }

th.large-12.last {
  padding-right: 16px; }

th.large-12 center {
  min-width: 602px; }

.body .columns th.large-12 {
  width: 100%; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

h1.text-center,
h3.text-center,
h4.text-center,
h6.text-center,
p.text-center {
  text-align: center; }

th.text-right,
p.text-right {
  text-align: right; }

img.float-center,
img.text-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

body,
table.body,
h1,
h3,
h4,
h6,
p,
td,
th {
  color: #0a0a0a;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h3,
h4,
h6 {
  color: inherit;
  word-wrap: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h6 {
  font-size: 18px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

a {
  color: #0081a4;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  a:hover {
    color: #005971; }
  a:active {
    color: #005971; }
  a:visited {
    color: #0081a4; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #f3f3f3;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 666px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

body,
html,
.body {
  background: #f3f3f3 !important; }

/*Medismart  Bolivia Encuesta*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

p {
  hyphens: none !important; }

.lead {
  font-size: 32px;
  font-weight: 700;
  margin: 1rem 0;
  line-height: 1;
  color: #0081a4; }

h6 {
  color: #606060;
  font-size: 22px;
  max-width: 512px;
  display: block;
  margin: 2rem auto; }

.caja-aviso {
  padding: 1rem;
  border: 1px solid #0081a4;
  border-radius: 1rem;
  hyphens: none; }
  .caja-aviso h3 {
    font-weight: 900;
    font-size: 21px;
    color: #0081a4;
    margin: 1rem 0; }
  .caja-aviso h4 {
    font-style: italic;
    color: #606060; }
  .caja-aviso .leyenda {
    font-size: 1rem;
    display: block;
    max-width: 340px;
    margin: 0 auto;
    font-style: italic;
    color: #606060; }

.btn-encuesta {
  display: block;
  background-color: #0081a4;
  color: #fefefe;
  width: 270px;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 900;
  font-size: 22px; }
  .btn-encuesta:hover {
    background-color: #005971;
    color: #fefefe; }

.slogan {
  font-size: 22px;
  display: block;
  max-width: 340px;
  margin: 2rem auto;
  color: #606060; }

.firma {
  font-size: 1.2rem;
  font-weight: 900;
  color: #0081a4;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  text-align: center; }

.btn-social {
  display: inline-block;
  width: 40px;
  height: 40px; }
